<style>
  table {
    /* width: 50%; */
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    background-color: #4caf50;
    color: white;
  }

  /* for the score table */
  .score-table td {
    width: 60px;
  }

  /* for the statistics table */
  .stats-table td {
    width: 100px;
  }

  /* align numbers to the right */
  td.number {
    text-align: right;
  }

  .flex-container {
    display: flex;
    justify-content: space-flex-start;
  }

  .table-inline {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
    }

    .flex-container > table {
        margin-right: 40px;  /* Add some space to the right of each table */
    }
</style>

<div style="margin-left: 0">
  <h1>DATASET NAME: {{ data.dataset_name }}</h1>
  <h1>METHOD: {{ data.method_name }}</h1>

  <h2>Single table:</h2>

  {% for table_name, table_content in data.metrics.single_table.items %}
  <div style="margin-left: 20px">
    <h2>{{ table_name }}</h2>

    {% for metric, details in table_content.items %}
    <div style="margin-left: 20px">
      <h2>{{ metric }}</h2>

      <button onclick="toggleTable('{{ table_name }}{{ forloop.counter }}');">
        Show/hide
      </button>
      <div id="{{ table_name }}{{ forloop.counter }}" class="table-container">
        <div class="flex-container">
          <table class="score-table">
            <tr>
              <td><strong>Fold</strong></td>
              <td><strong>Accuracy</strong></td>
              <td><strong>Precision</strong></td>
              <td><strong>Recall</strong></td>
              <td><strong>Log loss</strong></td>
            </tr>
            {% for score_list in details.scores %}
            <tr>
              <td>{{ forloop.counter }}</td>
              {% for score in score_list %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>

          <table class="stats-table">
            <tr>
              <td><strong>Statistic</strong></td>
              <td><strong>Accuracy</strong></td>
              <td><strong>Precision</strong></td>
              <td><strong>Recall</strong></td>
              <td><strong>Log loss</strong></td>
            </tr>
            <tr>
              <td><strong>Mean</strong></td>
              {% for score in details.mean %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>Standard Deviation</strong></td>
              {% for score in details.std %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>Standard Error</strong></td>
              {% for score in details.se %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>Min</strong></td>
              {% for score in details.min %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>Max</strong></td>
              {% for score in details.max %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>Median</strong></td>
              {% for score in details.median %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>95% confidence interval</strong></td>
              {% for score1, score2 in details.95ci %}
              <td class="number">
                {{ score1|floatformat:3 }} - {{ score2|floatformat:3 }}
              </td>
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <h2>Multi_table</h2>
  {% for metric_name, details in data.metrics.multi_table.items %}
  <div style="margin-left: 20px">
    <h2>{{ metric_name }}</h2>

    <button onclick="toggleTable('{{ metric_name }}{{ forloop.counter }}');">
      Show/hide
    </button>
    <div id="{{ metric_name }}{{ forloop.counter }}" class="table-container">
      <div class="flex-container">
        <table class="score-table">
          <tr>
            <td><strong>Fold</strong></td>
            <td><strong>Accuracy</strong></td>
            <td><strong>Precision</strong></td>
            <td><strong>Recall</strong></td>
            <td><strong>Log loss</strong></td>
          </tr>
          {% for score_list in details.scores %}
          <tr>
            <td>{{ forloop.counter }}</td>
            {% for score in score_list %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>

        <table class="stats-table">
          <tr>
            <td><strong>Statistic</strong></td>
            <td><strong>Accuracy</strong></td>
            <td><strong>Precision</strong></td>
            <td><strong>Recall</strong></td>
            <td><strong>Log loss</strong></td>
          </tr>
          <tr>
            <td><strong>Mean</strong></td>
            {% for score in details.mean %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Standard Deviation</strong></td>
            {% for score in details.std %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Standard Error</strong></td>
            {% for score in details.se %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Min</strong></td>
            {% for score in details.min %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Max</strong></td>
            {% for score in details.max %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Median</strong></td>
            {% for score in details.median %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>95% confidence interval</strong></td>
            {% for score1, score2 in details.95ci %}
            <td class="number">
              {{ score1|floatformat:3 }} - {{ score2|floatformat:3 }}
            </td>
            {% endfor %}
          </tr>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  function toggleTable(id) {
    var x = document.getElementById(id);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
