<style>
  table {
    /* width: 50%; */
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    background-color: #4caf50;
    color: white;
  }

  /* for the score table */
  .score-table td {
    width: 90px;
  }

  /* for the statistics table */
  .stats-table td {
    width: 100px;
  }

  /* align numbers to the right */
  td.number {
    text-align: right;
  }

  .flex-container {
    display: flex;
    justify-content: space-flex-start;
  }

  .table-inline {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }

  .flex-container > table {
    margin-right: 40px; /* Add some space to the right of each table */
  }
</style>
{% load custom_filters %}

<div style="margin-left: 0">
  <h1>METHOD: {{ data.method_name }}</h1>
  <h1>DATASET NAME: {{ data.dataset_name }}</h1>

  <h2>Statistical, concatenated tables metrics</h2>
    {% for table_name, table_content in data.metrics.statistical.items %}
    <div style="margin-left: 20px">
        <h2>Table name: {{ table_name }}</h2>

        <div style="margin-left: 20px">
        <button onclick="toggleTable('{{ table_name }}{{ forloop.counter }}');">
            Show/hide
        </button>
            <div id="{{ table_name }}{{ forloop.counter }}" class="table-container">
                <div class="flex-container">
            {% for metric, details in table_content.items %}
                {% with metric|split_by_underscore as split_metric_name %}
                    <h2>{{ split_metric_name }}</h2>
                {% endwith %}
                        <table class="score-table">
                            <tr>
                            <td><strong>Column Name</strong></td>
                            <td><strong>p-value</strong></td>
                            <td><strong>statistic</strong></td>
                            </tr>

                            {% for column_name, column_dict in details.items%}
                                <tr>
                                <td>{{ column_name }}</td>
                                {% for stat_name, stat_value in column_dict.items %}
                                    <td class="number" {% if stat_name == 'pvalue' and stat_value <= 0.05 %} style="color: red;"{% endif %}>
                                        {{ stat_value|floatformat:4 }}
                                    </td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                
            {% endfor %}
        </div>
    </div>
        </div>
    </div>
    {% endfor %}

  <h2>Single table:</h2>
  {% for table_name, table_content in data.metrics.single_table.items %}
  <div style="margin-left: 20px">
    <h2>Table name: {{ table_name }}</h2>

    {% for metric, details in table_content.items %}
    <div style="margin-left: 20px">
      {% with metric|split_by_underscore as split_metric_name %}
      <h2>{{ split_metric_name }}</h2>
      {% endwith %}

      <button onclick="toggleTable('{{ metric_name }}{{ forloop.counter }}');">
        Show/hide
      </button>
      <div id="{{ metric_name }}{{ forloop.counter }}" class="table-container">
        <div class="flex-container">
          <table class="score-table">
            <tr>
              <td><strong>Fold</strong></td>
              {% if 'statistical' in metric %}
              <td><strong>Kolmogorov-Smirnov</strong></td>
              <td><strong>Jensen Shannon</strong></td>
              <td><strong>Mean Max Discrepancy</strong></td>
              <td><strong>Chi^2</strong></td>
              {% else %}
              <td><strong>Accuracy</strong></td>
              <td><strong>Precision</strong></td>
              <td><strong>Recall</strong></td>
              <td><strong>Log loss</strong></td>
              {% endif %}
            </tr>
            {% for score_list in details.scores %}
            <tr>
              <td>{{ forloop.counter }}</td>
              {% for score in score_list %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>

          <table class="stats-table">
            <tr>
              <td><strong>Statistic</strong></td>
              {% if 'statistical' in metric %}
              <td><strong>Kolmogorov-Smirnov</strong></td>
              <td><strong>Jensen Shannon</strong></td>
              <td><strong>Mean Max Discrepancy</strong></td>
              <td><strong>Chi^2</strong></td>
              {% else %}
              <td><strong>Accuracy</strong></td>
              <td><strong>Precision</strong></td>
              <td><strong>Recall</strong></td>
              <td><strong>Log loss</strong></td>
              {% endif %}
            </tr>
            <tr>
              <td><strong>Mean</strong></td>
              {% for score in details.aggregation_scores.mean %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>Standard Deviation</strong></td>
              {% for score in details.aggregation_scores.std %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>Standard Error</strong></td>
              {% for score in details.aggregation_scores.se %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>Min</strong></td>
              {% for score in details.aggregation_scores.min %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>Max</strong></td>
              {% for score in details.aggregation_scores.max %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>Median</strong></td>
              {% for score in details.aggregation_scores.median %}
              <td class="number">{{ score|floatformat:2 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td><strong>95% confidence interval</strong></td>
              {% for score1, score2 in details.aggregation_scores.95ci %}
              <td class="number">
                {{ score1|floatformat:3 }} - {{ score2|floatformat:3 }}
              </td>
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <h2>Multi table</h2>
  {% for metric, details in data.metrics.multi_table.items %}
  <div style="margin-left: 20px">
    {% with metric|split_by_underscore as split_metric_name %}
    <h2>{{ split_metric_name }}</h2>
    {% endwith %}

    <button onclick="toggleTable('{{ metric }}{{ forloop.counter }}');">
      Show/hide
    </button>
    <div id="{{ metric }}{{ forloop.counter }}" class="table-container">
      <div class="flex-container">
        <table class="score-table">
          <tr>
            <td><strong>Fold</strong></td>
            {% if 'statistical' in metric %}
            <td><strong>Kolmogorov-Smirnov</strong></td>
            <td><strong>Jensen Shannon</strong></td>
            <td><strong>Mean Max Discrepancy</strong></td>
            <td><strong>Chi^2</strong></td>
            {% else %}
            <td><strong>Accuracy</strong></td>
            <td><strong>Precision</strong></td>
            <td><strong>Recall</strong></td>
            <td><strong>Log loss</strong></td>
            {% endif %}
          </tr>
          {% for score_list in details.scores %}
          <tr>
            <td>{{ forloop.counter }}</td>
            {% for score in score_list %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>

        <table class="stats-table">
          <tr>
            <td><strong>Statistic</strong></td>
            {% if 'statistical' in metric %}
            <td><strong>Kolmogorov-Smirnov</strong></td>
            <td><strong>Jensen Shannon</strong></td>
            <td><strong>Mean Max Discrepancy</strong></td>
            <td><strong>Chi^2</strong></td>
            {% else %}
            <td><strong>Accuracy</strong></td>
            <td><strong>Precision</strong></td>
            <td><strong>Recall</strong></td>
            <td><strong>Log loss</strong></td>
            {% endif %}
          </tr>
          <tr>
            <td><strong>Mean</strong></td>
            {% for score in details.aggregation_scores.mean %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Standard Deviation</strong></td>
            {% for score in details.aggregation_scores.std %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Standard Error</strong></td>
            {% for score in details.aggregation_scores.se %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Min</strong></td>
            {% for score in details.aggregation_scores.min %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Max</strong></td>
            {% for score in details.aggregation_scores.max %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Median</strong></td>
            {% for score in details.aggregation_scores.median %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>95% confidence interval</strong></td>
            {% for score1, score2 in details.aggregation_scores.95ci %}
            <td class="number">
              {{ score1|floatformat:3 }} - {{ score2|floatformat:3 }}
            </td>
            {% endfor %}
          </tr>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}

  <h2>Single column:</h2>
{% for table_name, table_content in data.metrics.single_column.items %}
<div style="margin-left: 20px">
  <h2>Table name: {{ table_name }}</h2>

  {% for metric, column_details in table_content.items %}
  
  {% with metric|split_by_underscore as split_metric_name %}
  <h2>{{ split_metric_name }}</h2>
  {% endwith %}
  
  <div style="margin-left: 20px">
  {% for column_name, details in column_details.items%}
  <h3>{{ column_name }}</h3>
  
  <button onclick="toggleTable('{{ table_name }}{{ metric }}{{ column_name }}{{ forloop.counter }}');">
      Show/hide
  </button>
    <div id="{{ table_name }}{{ metric }}{{ column_name }}{{ forloop.counter }}" class="table-container">
      <div class="flex-container">
        <table class="score-table">
          <tr>
            <td><strong>Fold</strong></td>
            <td><strong>Metric value</strong></td>
            <td><strong>Bootstrap 95% CI</strong></td>
          </tr>
          {% for score_list, 95ci_list in details.combined_scores %}
          <tr>
            <td>{{ forloop.counter }}</td>
            {% for score in score_list %}
            <td class="number" {% if score|is_in_range:95ci_list %} style="color: green;"{% else %}style="color: red;"{% endif %}>
              {{ score|floatformat:4 }}</td>
            {% endfor %}
            
              <td class="number">
                {% for score1 in 95ci_list %}
                 {{ score1|floatformat:3 }}
                 {% if not forloop.last %}
                      -
                  {% endif %}
                {% endfor %}
              </td>
            
          </tr>
          {% endfor %}
        </table>

        <table class="stats-table">
          <tr>
            <td><strong>Statistic</strong></td>
            <td><strong>Metric Value</strong></td>
            
          </tr>
          <tr>
            <td><strong>Mean</strong></td>
            {% for score in details.aggregation_scores.mean %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Standard Deviation</strong></td>
            {% for score in details.aggregation_scores.std %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Standard Error</strong></td>
            {% for score in details.aggregation_scores.se %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Min</strong></td>
            {% for score in details.aggregation_scores.min %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Max</strong></td>
            {% for score in details.aggregation_scores.max %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>Median</strong></td>
            {% for score in details.aggregation_scores.median %}
            <td class="number">{{ score|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><strong>95% confidence interval</strong></td>
            {% for score1, score2 in details.aggregation_scores.95ci %}
            <td class="number">
              {{ score1|floatformat:3 }} - {{ score2|floatformat:3 }}
            </td>
            {% endfor %}
          </tr>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endfor %}
</div>



<script>
  function toggleTable(id) {
    var x = document.getElementById(id);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
